<div class="ui small modal">

    <i class="close icon"></i>

    <div class="header">
      Help
    </div>

    <div class="ui form content" style="text-align:center">
				<i class="icon smile loading massive"></i><br>
				<div class="content">
					<h2>Under Construction</h2>
					<p>Please check back soon.</p>
				</div>
		</div>

</div>
