<script type="text/javascript">
  $(function(){
    $(".draw-range").on('input',function(){
      if($(this).val().length == 4)
      {
        $(this).next("input").focus();
      }
    });
    $(".jokernumbers input").on('input',function(){
      if($(this).val().length == 2)
      {
        $(this).next("input").focus();
      }
    });
  })
</script>
<form action="ticketsave" class="ui small modal">

    <i class="close icon"></i>

    <div class="header">
      {% if id is defined %}
        Edit Ticket
      {% else %}
        Add new Ticket
      {% endif %}
    </div>

    <div class="ui form content">
      <div class="ui horizontal divider" style="">
        Draws
      </div>

      <div class="two fields">
        <div class="field">
          <label>From</label>
          <input class="draw-range" type="text" name="start_draw" value="">
        </div>
        <div class="field">
          <label>To</label>
          <input class="draw-range" type="text" name="end_draw" value="">
        </div>
      </div>


      <div class="ui horizontal divider">
        Columns
      </div>

      {% for i in 1..5 %}
      <div class="seven fields jokernumbers">
        <div class="field">
          <label>{{i}}.</label>
        </div>
        {% for j in 1..5 %}
        <div class="field">
          <input type="text" name="number[{{i}}][{{j}}]" value="">
        </div>
        {% endfor %}
        <div class="field">
          <input type="text" name="number[{{i}}][6]" value="">
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="actions">
      <button type="submit" class="ui green button ok">
        <i class="icon checkmark"></i>
        Save Ticket
      </button>
    </div>
</form>
